<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MQTT WebSocket Demo</title>
    <script src="https://cdn.socket.io/3.1.0/socket.io.min.js"></script>
</head>
<body>
    <h1>MQTT Message Logger</h1>
    <div id="messages"></div> <!-- Container for messages -->
    <script>
        console.log("loaded HTML");

        const socket = io('http://127.0.0.1:5001', {
            transports: ['websocket'] // Force WebSocket
        });

        socket.on('connect', () => {
            console.log('WebSocket connected');
        });

        socket.on('mqtt_message', function(msg) {
            console.log('Received MQTT Message:', msg);

            // Create a new <p> element
            const messageElement = document.createElement('p');
            let parsed_data=JSON.parse(msg.data);
            messageElement.textContent = `{topic: ${msg.topic}, crowdcount: ${parsed_data.payload_cooked.crowdcount}, 'acp_ts: ${parsed_data.acp_ts}'}`;

            // Append the new <p> element to the container
            document.getElementById('messages').appendChild(messageElement);
        });

        socket.on('disconnect', () => {
            console.log('WebSocket disconnected');
        });
    </script>
</body>
</html>
